{% load static%}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name ="viewport" content="width=device-width,initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="wrapper">
        <span class="icon-close" data-redirect-url="{% url 'home' %}"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2>Registration</h2>
            {% if error %}
            <p style="color: red; text-align: center; margin-bottom: 10px;">{{ error }}</p>
            {% endif %}
            <form method="POST" action="{% url 'registration' %}">

                {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                
                <div class="remember-forgot">
                    <label><input type="checkbox">I  agree to terms and condition </label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="{% url 'login' %}" class="register-link">Login</a></p>
                </div>

            </form>
        </div>
        
    </div>
    <script src="{% static "script.js" %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>